<%- include("header.ejs") %> 
<% if(locals.data != null){%>
<div class="book-container">
  <div class="book-content">
    <img src="<%= data.imageUrl %>" alt="<%= data.title %>" />
    <h2><strong><%= data.title %></strong></h2>
    <p><strong>Date:</strong> <%= formatDate(data.date) %></p>
    <p><strong>Rating:</strong> <%= data.rating %></p>
  </div>
  <div class="notes-section">
    <p><strong>Notes:</strong> <%= data.notes %></p>
  </div>
</div>
<div class="left-box body">
  <button><a href="<%=data.isbn%>/edit">Edit</a></button>
  <button><a href="<%=data.isbn%>/delete">Delete</a></button>
</div>
<%} else{ %>
<h3>
  If the ISBN number or title is correct then I have not read it. Send me the
  name using contact page.
</h3>
<%}%>
<% function formatDate(date) { const options = { day: '2-digit', month:
'2-digit', year: 'numeric' }; return new Date(date).toLocaleDateString('en-GB',
options); } %>

<!-- <%- include("footer.ejs") %> -->
